


@model IEnumerable<PolyteksEnerjiYonetimSistemi.Models.Makine>
@{

    Layout = null;
    var mer = DateTime.Now.Month;
    var abc = mer - 1;
}

<table class="table table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.MakineAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KWH)
        </th>

        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.MakineAdi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KWH)
    </td>

    <td>
        <table id="c" class="table table-bordered table-info">
            <thead>
                <tr style="background-color: #80471C">
                    <th>
                        YIL
                    </th>
                    <th>
                        AY
                    </th>

                    <th>
                        ÇALIŞMA SÜRESİ
                    </th>
                    <th>
                        TOPLAM TÜKETİM
                    </th>
                    <th>
                        KAYIT EDEN
                    </th>


                    <th>
                        KAYIT TARİHİ
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var detay in item.MakineCalismaSureleri)
                {
                    if (detay.Ay == 11)
                    {
                        var a = item.KWH * detay.CalismaSuresi;
                        <tr>
                            <td>@(detay.Yil)</td>
                            <td> @(detay.Ay)</td>

                            <td>@(detay.CalismaSuresi)</td>
                            <td> @(a)</td>

                            <td> @(detay.KayitEden)</td>

                            <td> @(detay.KayitTarihi)</td>




                        </tr>
                    }
                }
            </tbody>

        </table>
    </td>
    @if (abc < DateTime.Now.Month && abc > DateTime.Now.Month)
    {
        <td>
            @Html.ActionLink("EKLE", "Edit", new { id1 = item.ID })

        </td>
    }
    </tr>
    }

</table>


