@model PolyteksEnerjiYonetimSistemi.Models.MakineCalismaSureleri

@{
    ViewBag.Title = "Edit";
    Layout =null;
    var data = ViewBag.data as PolyteksEnerjiYonetimSistemi.Models.Makine;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <table class="table table-hover table-bordered table-dark">
        <thead class="thead-dark">
            <tr>
                <th>
                    <b>Makine adı</b>
                </th>
                <th>
                    <b>Kwh</b>
                </th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@data.MakineAdi</td>
                <td>@data.KWH</td>




            </tr>

        </tbody>
    </table>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @if (data.Bolumler.ID == 5 || data.Bolumler.ID == 12 || data.Bolumler.ID == 13)
    {
        <div class="form-group">
            @Html.LabelFor(model => model.BasincKWh, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.BasincKWh, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.BasincKWh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.M3, "m³", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.M3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.M3, "", new { @class = "text-danger" })
            </div>
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(model => model.CalismaSuresi, htmlAttributes: new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.EditorFor(model => model.CalismaSuresi, new { htmlAttributes = new { @class = "form-control", @Value = "0", min = 0, max = 744 } })
            @Html.ValidationMessageFor(model => model.CalismaSuresi, "", new { @class = "text-danger" })
        </div>
    </div>




    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="KAYDET" class="btn btn-success btn-block" />
        </div>
    </div>
</div>
}

