@model IEnumerable<PolyteksEnerjiYonetimSistemi.Models.Makine>
@{
    ViewBag.Title = "TeknikTekstilIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var mer = DateTime.Now.Month;
    var abc = mer - 1;
    string asd = "KAPATILMIŞTIR";

}
<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
</head>
<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">
                <b>
                    TEKNİK TEKSTİL BÖLÜMÜ
                </b>
            </h3>
            <p class="card-text">
                <h4><b>TEKNİK TEKSTİL MAKİNE LİSTESİ</b></h4>
                <h5><b>YIL :@DateTime.Now.Year</b></h5>
                <h5><b>AY :@DateTime.Now.Month</b></h5>
            </p>
           
            @if (abc == 0)
            {
                <h6><b> @DateTime.Now.AddYears(-1).Year ve @DateTime.Now.AddMonths(-1).Month. ay için giriş yapmaktasınız...</b></h6>


            }
            else
            { <h6><b> @abc. ay için giriş yapmaktasınız...</b></h6>}
        </div>
    </div>
</div>
<hr />

<div class="container-fluid">

    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Ara..." class="form-control" />

        </div>
    </div>
</div>



<table class="table table-bordered">
    <tr style="background-color: darkseagreen">

        <th>
            @Html.DisplayNameFor(model => model.MakineAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KWH)
        </th>

        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color: lightskyblue" class="Search">

            <td>
                @Html.DisplayFor(modelItem => item.MakineAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KWH)
            </td>

            <td>
                <table class="table table-bordered table-info">
                    <thead>
                        <tr style="background-color: darkseagreen">
                            <th>
                                YIL
                            </th>
                            <th>
                                AY
                            </th>

                            <th>
                                ÇALIŞMA SÜRESİ
                            </th>
                            <th>
                                KAYIT EDEN
                            </th>


                            <th>
                                KAYIT TARİHİ
                            </th>
                            <th>
                                TOPLAM TÜKETİM
                            </th>
                            @if (User.IsInRole("TT"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var detay in item.MakineCalismaSureleri)
                        {

                         

                            if (detay.Ay == ViewBag.ay)
                            {
                                <tr class="Search">
                                    <td>@(detay.Yil)</td>
                                    <td> @(detay.Ay)</td>

                                    <td>@(detay.CalismaSuresi)</td>

                                    <td> @(detay.KayitEden)</td>

                                    <td>        @Convert.ToDateTime(detay.KayitTarihi).ToString("dd.MM.yyyy")</td>

                                    <td> @(detay.ToplamTuketimKwh.Value.ToString("N2"))</td>

                                    @if (User.IsInRole("TT"))
                                    {
                                        <td>
                                            <center>
                                                <a href="@Url.Action("DetayDuzenle", "MakineCalismaSureleris", new { id = detay.ID })" title="DÜZENLE" class="btn btn-primary"> <i class="fa fa-pencil-square" aria-hidden="true">  </i></a>
                                            </center>
                                        </td>
                                    }
                                </tr>
                            }
                            if (abc == 0 && detay.Ay == DateTime.Now.AddMonths(-1).Month && detay.Yil == DateTime.Now.AddYears(-1).Year)
                            {
                                <tr class="Search">
                                    <td>@(detay.Yil)</td>
                                    <td> @(detay.Ay)</td>
                                    <td>@(detay.CalismaSuresi)</td>
                                    <td> @(detay.KayitEden)</td>

                                    <td> @Convert.ToDateTime(detay.KayitTarihi).ToString("dd.MM.yyyy")</td>







                                    <td> @(detay.ToplamTuketimKwh.Value.ToString("N2"))</td>

                                    @if (User.IsInRole("TT"))
                                    {
                                        <td>
                                            <center>
                                                <a href="@Url.Action("DetayDuzenle", "MakineCalismaSureleris", new { id = detay.ID })" title="DÜZENLE" class="btn btn-sm btn-primary embed-responsive"> <i class="fa fa-pencil-square" aria-hidden="true">  </i></a>
                                            </center>
                                        </td>
                                    }
                                </tr>
                            }
                        }



                    </tbody>
                </table>
            </td>
            @if (User.IsInRole("TT"))
            {
                bool kapali = false;

                foreach (var detays in item.MakineCalismaSureleri)
                {

                    if (detays.Ay == ViewBag.ay && detays.Yil == ViewBag.yil && detays.MakineID > 0)
                    {
                        kapali = true;
                        <td>
                            <b>@asd</b>
                        </td>

                        break;
                    }



                    else if (detays.Ay != ViewBag.ay && detays.Yil == ViewBag.yil)
                    {

                    }
                }


                if (ViewBag.counter == 1 && kapali == false)
                {

                    <td>
                        <a href="javascript:void(0);" class="anchorDetail btn btn-sm btn-info embed-responsive" id1="@item.ID" title="EKLE"><i class="fa fa-plus-circle">   </i></a>

                    </td>

                }
            }




        </tr>
    }


</table>
<script>
    //LIVE SEARCH
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            })
        });
    });
</script>
<div id="myModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <CENTER> <h4><b></b></h4></CENTER>

                <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>


            </div>
            <div id="myModalContent"></div>
            <div class="modal-footer">
                <div style="float:right">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Kapat</button>
                </div>

            </div>
        </div>
    </div>

</div>


<script>
    var TeamDetailPostBackURL = '/MakineCalismaSureleris/Edit';
    $(function () {
        $(".anchorDetail").click(function () {
            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('id1');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: TeamDetailPostBackURL,
                contentType: "application/json; charset=utf-8",
                data: { "id1": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');

                },
                error: function () {
                    alert("HATA OLUŞTU.");
                }
            });
        });

    });

</script>